# *******************************************
# DT Responsive Guidelines excluded files ***
# *******************************************

# SASS cache
assets/compass/.sass-cache

# All HTML files except index.html
/*.html
!index.html