html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*********************************************************************
*** GLOBAL ***********************************************************
*********************************************************************/
/* DEFAULTS */
b, strong {
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #5b6065;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

/* LIST */
#main-section ul li,
#main-section ol li {
  margin: 6px 0px;
}

/* INPUTS */
input[type="text"],
input[type="password"],
textarea {
  color: #5c5c5c;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #fbab2f;
  -moz-box-shadow: 1px 1px 3px #fdd493;
  -webkit-box-shadow: 1px 1px 3px #fdd493;
  box-shadow: 1px 1px 3px #fdd493;
}

/* RADIO BUTTON */
.radio-group label {
  display: block;
  cursor: pointer;
}
.radio-group input[type="radio"] {
  margin-right: 0.5em;
}

/* CHECKBOX */
.checkbox-group label {
  display: block;
  cursor: pointer;
}
.checkbox-group input[type="checkbox"] {
  margin-right: 0.5em;
}

/* SELECT */
select[multiple="multiple"] {
  height: calc(8em + 2px);
}
select.has-select-all option:first-child {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px dashed #bbbbbb;
  font-style: italic;
}
select option {
  outline: 0px;
}

/* BUTTON */
.btn.ico-add, .btn.ico-delete, .btn.ico-edit, .btn.ico-info {
  padding: 0px;
}
.active.btn.ico-add, .active.btn.ico-delete, .active.btn.ico-edit, .active.btn.ico-info, .btn.ico-add:active, .btn.ico-delete:active, .btn.ico-edit:active, .btn.ico-info:active {
  box-shadow: none;
}

.btn {
  background: transparent none;
}
.btn.btn-default {
  border: 1px solid #4f5458;
  background-color: #4f5458;
  color: #ffffff;
}
.btn.btn-default:hover {
  border: 1px solid #373a3d;
  background-color: #373a3d;
  color: #ffffff;
}
.btn.btn-submit {
  border: 1px solid #c62926;
  background-color: #c62926;
  color: #ffffff;
}
.btn.btn-submit:hover {
  border: 1px solid #9b201e;
  background-color: #9b201e;
  color: #ffffff;
}
.btn.btn-reset, .btn.btn-cancel {
  border: 1px solid #888888;
  background-color: #ffffff;
  color: #888888;
}
.btn.btn-reset:hover, .btn.btn-cancel:hover {
  border: 1px solid #888888;
  background-color: #888888;
  color: #ffffff;
}
.btn.ico-add {
  color: #3c763d;
}
.btn.ico-delete {
  color: #a94442;
}
.btn.ico-edit {
  color: #8a6d3b;
}
.btn.ico-info {
  color: #31708f;
}

/* CUSTOM TABLE */
.dt-table {
  padding-top: 0;
  padding-bottom: 0;
}
.dt-table .dt-table-tr {
  *zoom: 1;
  border-bottom: 1px solid #e1e1e1;
}
.dt-table .dt-table-tr:after {
  content: "";
  display: table;
  clear: both;
}
.dt-table .dt-table-tr .dt-table-td, .dt-table .dt-table-tr .dt-table-th {
  line-height: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.dt-table .dt-table-tr .dt-table-th {
  font-weight: bold;
}
.dt-table .dt-table-tr.dt-table-tr-clickable {
  cursor: pointer;
}
.dt-table .dt-table-tr.dt-table-tr-fullinfo {
  background: #d9edf7 none;
}
.dt-table .dt-table-tr.row-actions {
  text-align: center;
}
.dt-table .dt-table-tr.row-actions.form-group {
  margin-top: 0.5em;
}
.dt-table .dt-table-tr.row-actions .btn {
  margin-left: 1.5em;
}
.dt-table.dt-table-striped > .dt-table-body > .dt-table-tr:nth-of-type(2n) {
  background-color: #f9f9f9;
}
.dt-table.dt-table-hover > .dt-table-body > .dt-table-tr:hover {
  background-color: rgba(251, 161, 22, 0.3);
}
.dt-table.panel-body .dt-table-body .dt-table-tr:last-child {
  border-bottom: none;
}

/* LABEL */
.dt-label {
  font-weight: bold;
}

/* PAGE MSGs CONTAINER */
.alerts-container .alert:last-child {
  margin-bottom: 3em;
}
.alerts-container .validation-errors-container {
  font-weight: 700;
}

/*********************************************************************
*** BOOTSTRAP ********************************************************
*********************************************************************/
/* PANEL */
.panel {
  border: 1px solid #e1e1e1;
}
.panel + .panel {
  margin-top: 1.5em;
}
.panel .panel-head {
  padding: 1em;
  border-bottom: 1px solid #e1e1e1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #f1f1f1;
  font-size: 1.25em;
  font-weight: bold;
  color: #b12522;
}
.panel .panel-body.dt-table {
  padding: 0;
}
.panel .panel-footer {
  border-top: 1px solid #e1e1e1;
}
.panel .panel-footer .pagination-container .pagination {
  margin: 0.5em 0em;
}
.panel .panel-footer .pagination-container .pagination > li > a, .panel .panel-footer .pagination-container .pagination > li > span {
  color: #c62926;
}
.panel .panel-footer .pagination-container .btn-group .btn-items-per-page {
  border: 1px solid #e1e1e1;
  color: #c62926;
}
.panel .panel-footer .pagination-container .btn-group.open .dropdown-toggle, .panel .panel-footer .pagination-container .btn-group .dropdown-toggle:active {
  box-shadow: none;
}

/* FORM */
.form .row .form-group .control-label,
.form-horizontal .row .form-group .control-label {
  padding: 0.5em 0 0.5em 15px;
  font-weight: 700;
}
.form .row .form-group .control-label.text-align-left,
.form-horizontal .row .form-group .control-label.text-align-left {
  text-align: left;
}
.form .row .form-group .form-control,
.form-horizontal .row .form-group .form-control {
  color: #5c5c5c;
}
.form .row .form-group .form-control:focus,
.form-horizontal .row .form-group .form-control:focus {
  border: 1px solid #fbab2f;
  -moz-box-shadow: 1px 1px 3px #fdd493;
  -webkit-box-shadow: 1px 1px 3px #fdd493;
  box-shadow: 1px 1px 3px #fdd493;
}
.form .row .form-group.required .control-label::after,
.form-horizontal .row .form-group.required .control-label::after {
  content: "*";
  color: #a94442;
}
.form .row .form-group label.error,
.form-horizontal .row .form-group label.error {
  color: #a94442;
  font-weight: 700;
}
.form .row .form-group input[type="text"].error,
.form-horizontal .row .form-group input[type="text"].error {
  border: 1px solid #a94442;
  background-color: rgba(169, 68, 66, 0.15);
  -moz-box-shadow: 0 1px 5px 0 #a94442;
  -webkit-box-shadow: 0 1px 5px 0 #a94442;
  box-shadow: 0 1px 5px 0 #a94442;
}
.form .row .form-group input[type="password"].error,
.form-horizontal .row .form-group input[type="password"].error {
  border: 1px solid #a94442;
  background-color: rgba(169, 68, 66, 0.15);
  -moz-box-shadow: 0 1px 5px 0 #a94442;
  -webkit-box-shadow: 0 1px 5px 0 #a94442;
  box-shadow: 0 1px 5px 0 #a94442;
}
.form .row .form-group textarea.error,
.form-horizontal .row .form-group textarea.error {
  border: 1px solid #a94442;
  background-color: rgba(169, 68, 66, 0.15);
  -moz-box-shadow: 0 1px 5px 0 #a94442;
  -webkit-box-shadow: 0 1px 5px 0 #a94442;
  box-shadow: 0 1px 5px 0 #a94442;
}
.form .row .form-group select.error,
.form-horizontal .row .form-group select.error {
  border: 1px solid #a94442;
  background-color: rgba(169, 68, 66, 0.15);
  -moz-box-shadow: 0 1px 5px 0 #a94442;
  -webkit-box-shadow: 0 1px 5px 0 #a94442;
  box-shadow: 0 1px 5px 0 #a94442;
}
.form .form-buttons,
.form-horizontal .form-buttons {
  text-align: right;
}
.form .form-buttons a + a,
.form .form-buttons a + input,
.form .form-buttons input + a,
.form .form-buttons input + input,
.form-horizontal .form-buttons a + a,
.form-horizontal .form-buttons a + input,
.form-horizontal .form-buttons input + a,
.form-horizontal .form-buttons input + input {
  margin-left: 1em;
}

/* TABLE */
.table.table-hover > tbody > tr:hover {
  background-color: rgba(251, 161, 22, 0.3);
}
.table > thead > tr {
  background-color: #f1f1f1;
}
.table > thead > tr > th {
  font-weight: 700;
}

/* MODAL */
.modal.modal-msg-type-success .modal-content {
  color: #3c763d;
  background-color: #dff0d8;
}
.modal.modal-msg-type-info .modal-content {
  color: #31708f;
  background-color: #d9edf7;
}
.modal.modal-msg-type-warning .modal-content {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
.modal.modal-msg-type-error .modal-content {
  color: #a94442;
  background-color: #f2dede;
}

/* GLYPHS */
.glyphicon-plus {
  color: #3c763d;
}

.glyphicon-pencil {
  color: #8a6d3b;
}

.glyphicon-remove {
  color: #a94442;
}

/*********************************************************************
*** COMPONENTS *******************************************************
*********************************************************************/
/* JQUERY CALENDAR */
.is-datepicker {
  cursor: pointer;
}

#ui-datepicker-div {
  background: #f4f4f4 none;
}
#ui-datepicker-div .ui-datepicker-header {
  background: #eeeeee none;
  border: 1px solid #e4e4e4;
}
#ui-datepicker-div .ui-datepicker-header select.ui-datepicker-month, #ui-datepicker-div .ui-datepicker-header select.ui-datepicker-year {
  font-weight: 500;
}
#ui-datepicker-div .ui-datepicker-calendar th {
  font-weight: 400;
}
#ui-datepicker-div .ui-datepicker-calendar .ui-state-default, #ui-datepicker-div .ui-datepicker-calendar .ui-widget-content
#ui-datepicker-div .ui-datepicker-calendar .ui-state-default, #ui-datepicker-div .ui-datepicker-calendar .ui-widget-header
#ui-datepicker-div .ui-datepicker-calendar .ui-state-default {
  border: 1px solid #d8d8d8;
  color: #5c5c5c;
  font-weight: 500;
}
#ui-datepicker-div .ui-datepicker-calendar .ui-state-hover, #ui-datepicker-div .ui-datepicker-calendar .ui-widget-hover
#ui-datepicker-div .ui-datepicker-calendar .ui-state-hover, #ui-datepicker-div .ui-datepicker-calendar .ui-widget-hover
#ui-datepicker-div .ui-datepicker-calendar .ui-state-hover {
  background: #fba116 none;
  border: 1px solid #da8604;
  color: #000000;
}
#ui-datepicker-div .ui-datepicker-buttonpane .ui-datepicker-current, #ui-datepicker-div .ui-datepicker-buttonpane .ui-datepicker-close {
  border: 1px solid #d2d2d2;
  background: #e4e4e4 none;
  color: #5c5c5c;
  font-weight: 400;
  opacity: 1;
}

/* JQUERY ENHANCED SELECT */
.chosen-container-single,
.chosen-container-multi {
  width: 100% !important;
}

.chosen-container-active .chosen-choices,
.chosen-container-active .chosen-single {
  border: 1px solid #fbab2f;
  -moz-box-shadow: 1px 1px 3px #fdd493;
  -webkit-box-shadow: 1px 1px 3px #fdd493;
  box-shadow: 1px 1px 3px #fdd493;
}

/* ASSIGNABLE SELECT OPTIONS */
.ddl-available-assigned-container .ddl-available-container,
.ddl-available-assigned-container .ddl-assigned-container {
  display: table-cell;
  width: 34%;
}
.ddl-available-assigned-container .ddl-available-container.form-group .control-label,
.ddl-available-assigned-container .ddl-assigned-container.form-group .control-label {
  padding-left: 0;
}
.ddl-available-assigned-container .ddl-available-container select[multiple="multiple"],
.ddl-available-assigned-container .ddl-assigned-container select[multiple="multiple"] {
  height: calc(12em + 10px);
}

.ddl-available-assigned-container .ddl-available-assigned-controls {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.ddl-available-assigned-container .ddl-available-assigned-controls.move-h {
  width: 10%;
}
.ddl-available-assigned-container .ddl-available-assigned-controls.move-v {
  width: 1%;
}
.ddl-available-assigned-container .ddl-available-assigned-controls .btn {
  width: 100%;
}

/* PAGINATION */
.pagination-container {
  display: table;
  padding: 0.5em 0em;
}
.pagination-container .pagination {
  display: table-cell;
}
.pagination-container .items-per-page {
  display: table-cell;
}
.pagination-container .items-per-page button {
  background-color: #ffffff;
}
.pagination-container .pagination + .items-per-page {
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}

/* LOADING SPINNER */
#loading-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/spinner.gif") center center no-repeat, rgba(241, 241, 241, 0.85);
  background-size: auto;
  z-index: 999999;
}

/* BOOTSTRAP SWITCH */
.bootstrap-switch.bootstrap-switch-focused {
  border: 1px solid #fbab2f;
  -moz-box-shadow: 1px 1px 3px #fdd493;
  -webkit-box-shadow: 1px 1px 3px #fdd493;
  box-shadow: 1px 1px 3px #fdd493;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  color: #ffffff;
  background-color: #c62926;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #ffffff;
  background-color: #5b6065;
}

/*********************************************************************
*** MAIN LAYOUT ******************************************************
*********************************************************************/
body {
  margin: 0px;
  padding: 0px;
  background: #f1f1f1 none;
  font: 14px Arial, Helvetica, sans-serif;
}

/*** HEADER *********************************************************/
.navbar {
  height: 3em;
  background-color: #c62926;
}
.navbar .navbar-header {
  padding: 6px 0px;
  margin-left: 1em;
}
.navbar .navbar-header .navbar-brand {
  width: 36px;
  height: 36px;
  background: transparent url("../img/logo_dt_white.png") no-repeat;
}
@media only screen and (min-width: 768px) {
  .navbar .navbar-nav > li:first-child {
    margin-left: 0.6em;
  }
}
.navbar .navbar-nav li a {
  color: #ffffff;
}
.navbar .navbar-nav li a:focus, .navbar .navbar-nav li a:hover {
  background: inherit;
  text-decoration: underline;
}
.navbar .navbar-nav li.dropdown a.dropdown-toggle, .navbar .navbar-nav li.dropdown a.dropdown-toggle:focus, .navbar .navbar-nav li.dropdown a.dropdown-toggle:hover, .navbar .navbar-nav li.dropdown.open a.dropdown-toggle {
  text-decoration: none;
  color: #ffffff;
  background-color: #c62926;
}
.navbar .navbar-nav li.dropdown .dropdown-menu li a {
  color: #c62926;
}
@media only screen and (max-width: 768px) {
  .navbar .navbar-nav li.dropdown .dropdown-menu li a {
    color: #ffffff;
  }
}
.navbar .navbar-collapse {
  background-color: #c62926;
}
.navbar .navbar-toggle {
  margin: 2px 15px;
  border: 1px solid #ffffff;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/*** CONTENT ********************************************************/
#main-section .main-container {
  min-height: 400px;
  margin: 3em 1em;
  padding: 3em 2em 8em;
  border: 1px solid #d1d1d1;
  background: #ffffff none;
}
@media only screen and (max-width: 768px) {
  #main-section .main-container {
    margin: 3em 0em;
  }
}

/*** FOOTER *********************************************************/
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 2em;
  background: #373a3d none;
  font-size: 0.85em;
  color: #ffffff;
  text-align: center;
}
.footer a, .footer a:focus, .footer a:hover {
  color: #ffffff;
}
.footer .footer-copyright {
  margin-top: 1em;
}
.footer .footer-copyright a {
  text-decoration: underline;
}

/*********************************************************************
*** SAMPLE ELEMENTS PAGE *********************************************
*********************************************************************/
.guidelines-elements-container h2 {
  margin: 100px 0px 20px;
}
.guidelines-elements-container h2:first-of-type {
  margin-top: 0px;
}

.guidelines-elements-container code {
  display: block;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #dddddd;
  background-color: #f1f1f1;
  white-space: pre;
}

.guidelines-elements-container .row-actions .btn + .btn {
  margin-left: 0.5em;
}
