/* line 5, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*********************************************************************
*** GLOBAL ***********************************************************
*********************************************************************/
/* HEADERS */
/* line 83, ../compass/sass/dt.core.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #5b6065;
}

/* line 87, ../compass/sass/dt.core.scss */
h1 {
  font-size: 2em;
}

/* line 88, ../compass/sass/dt.core.scss */
h2 {
  font-size: 1.75em;
}

/* line 89, ../compass/sass/dt.core.scss */
h3 {
  font-size: 1.5em;
}

/* line 90, ../compass/sass/dt.core.scss */
h3 {
  font-size: 1.25em;
}

/* LIST */
/* line 93, ../compass/sass/dt.core.scss */
#main-section ul li,
#main-section ol li {
  margin: 6px 0px;
}

/* INPUTS */
/* line 99, ../compass/sass/dt.core.scss */
input[type="text"],
input[type="password"],
textarea {
  color: #5c5c5c;
}
/* line 68, ../compass/sass/dt.core.scss */
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #fbab2f;
  -moz-box-shadow: 1px 1px 3px #fdd493;
  -webkit-box-shadow: 1px 1px 3px #fdd493;
  box-shadow: 1px 1px 3px #fdd493;
}

/* RADIO BUTTON */
/* line 107, ../compass/sass/dt.core.scss */
.radio-group label {
  cursor: pointer;
}
/* line 110, ../compass/sass/dt.core.scss */
.radio-group input[type="radio"] {
  margin-right: 0.5em;
}

/* CHECKBOX */
/* line 117, ../compass/sass/dt.core.scss */
.checkbox-group label {
  cursor: pointer;
}
/* line 120, ../compass/sass/dt.core.scss */
.checkbox-group input[type="checkbox"] {
  margin-right: 0.5em;
}

/* SELECT */
/* line 127, ../compass/sass/dt.core.scss */
select[multiple="multiple"] {
  height: calc(8em + 2px);
}
/* line 130, ../compass/sass/dt.core.scss */
select.has-select-all option:first-child {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px dashed #bbbbbb;
  font-style: italic;
}
/* line 136, ../compass/sass/dt.core.scss */
select option {
  outline: 0px;
}

/* BUTTON */
/* line 142, ../compass/sass/dt.core.scss */
.btn {
  background: transparent none;
}
/* line 146, ../compass/sass/dt.core.scss */
.btn.btn-default, .btn.btn-add, .btn.btn-ok, .btn.btn-delete, .btn.btn-reject, .btn.btn-edit, .btn.btn-return, .btn.btn-submit {
  border: 1px solid #5b5b5d;
  color: #5b5b5d;
}
/* line 76, ../compass/sass/dt.core.scss */
.btn.btn-default:hover, .btn.btn-add:hover, .btn.btn-ok:hover, .btn.btn-delete:hover, .btn.btn-reject:hover, .btn.btn-edit:hover, .btn.btn-return:hover, .btn.btn-submit:hover {
  background: #5b5b5d;
  color: #ffffff;
}
/* line 150, ../compass/sass/dt.core.scss */
.btn.btn-reset, .btn.btn-cancel {
  border: 1px solid #888888;
  color: #888888;
}
/* line 76, ../compass/sass/dt.core.scss */
.btn.btn-reset:hover, .btn.btn-cancel:hover {
  background: #888888;
  color: #ffffff;
}
/* line 154, ../compass/sass/dt.core.scss */
.btn.btn-search {
  border: 1px solid #cccccc;
  color: #cccccc;
}
/* line 76, ../compass/sass/dt.core.scss */
.btn.btn-search:hover {
  background: #cccccc;
  color: #ffffff;
}
/* line 159, ../compass/sass/dt.core.scss */
.btn.btn-default, .btn.btn-add, .btn.btn-ok, .btn.btn-delete, .btn.btn-reject, .btn.btn-edit, .btn.btn-return {
  padding: 0px;
}
/* line 161, ../compass/sass/dt.core.scss */
.btn.btn-default.active, .btn.active.btn-add, .btn.active.btn-ok, .btn.active.btn-delete, .btn.active.btn-reject, .btn.active.btn-edit, .btn.active.btn-return {
  box-shadow: none;
}
/* line 165, ../compass/sass/dt.core.scss */
.btn.btn-add, .btn.btn-ok {
  color: #3c763d;
}
/* line 170, ../compass/sass/dt.core.scss */
.btn.btn-delete, .btn.btn-reject {
  color: #a94442;
}
/* line 175, ../compass/sass/dt.core.scss */
.btn.btn-edit, .btn.btn-return {
  color: #8a6d3b;
}

/* CUSTOM TABLE */
/* line 183, ../compass/sass/dt.core.scss */
.dt-table {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 188, ../compass/sass/dt.core.scss */
.dt-table .dt-table-tr {
  border-bottom: 1px solid #e1e1e1;
}
/* line 192, ../compass/sass/dt.core.scss */
.dt-table .dt-table-tr .dt-table-td, .dt-table .dt-table-tr .dt-table-th {
  line-height: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 199, ../compass/sass/dt.core.scss */
.dt-table .dt-table-tr .dt-table-th {
  font-weight: bold;
}
/* line 205, ../compass/sass/dt.core.scss */
.dt-table .dt-table-tr.dt-table-tr-clickable {
  cursor: pointer;
}
/* line 208, ../compass/sass/dt.core.scss */
.dt-table .dt-table-tr.dt-table-tr-fullinfo {
  background: #d9edf7 none;
}
/* line 213, ../compass/sass/dt.core.scss */
.dt-table .dt-table-tr.row-actions {
  text-align: center;
}
/* line 215, ../compass/sass/dt.core.scss */
.dt-table .dt-table-tr.row-actions.form-group {
  margin-top: 0.5em;
}
/* line 218, ../compass/sass/dt.core.scss */
.dt-table .dt-table-tr.row-actions .btn {
  margin-left: 1.5em;
}
/* line 225, ../compass/sass/dt.core.scss */
.dt-table.panel-body .dt-table-tr:last-child {
  border-bottom: none;
}

/* LABEL */
/* line 231, ../compass/sass/dt.core.scss */
.dt-label {
  font-weight: bold;
}

/*********************************************************************
*** BOOTSTRAP ********************************************************
*********************************************************************/
/* PANEL */
/* line 240, ../compass/sass/dt.core.scss */
.panel {
  border: 1px solid #e1e1e1;
}
/* line 243, ../compass/sass/dt.core.scss */
.panel + .panel {
  margin-top: 1.5em;
}
/* line 246, ../compass/sass/dt.core.scss */
.panel .panel-head {
  padding: 1em;
  border-bottom: 1px solid #e1e1e1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #f1f1f1;
  font-size: 1.25em;
  font-weight: bold;
  color: #b12522;
}
/* line 256, ../compass/sass/dt.core.scss */
.panel .panel-body {
  padding: 2em;
}
/* line 259, ../compass/sass/dt.core.scss */
.panel .panel-footer {
  border-top: 1px solid #e1e1e1;
}
/* line 261, ../compass/sass/dt.core.scss */
.panel .panel-footer .pagination {
  margin: 0.5em 0em;
}

/* FORM */
/* line 273, ../compass/sass/dt.core.scss */
.form .row:last-child .form-group,
.form-horizontal .row:last-child .form-group {
  margin-bottom: 0px;
}
/* line 280, ../compass/sass/dt.core.scss */
.form .row .form-group .control-label,
.form-horizontal .row .form-group .control-label {
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  /* line 283, ../compass/sass/dt.core.scss */
  .form .row .form-group .control-label[class*="col-sm-12"],
  .form-horizontal .row .form-group .control-label[class*="col-sm-12"] {
    text-align: left;
  }
}
/* line 289, ../compass/sass/dt.core.scss */
.form .row .form-group .form-control,
.form-horizontal .row .form-group .form-control {
  color: #5c5c5c;
}
/* line 68, ../compass/sass/dt.core.scss */
.form .row .form-group .form-control:focus,
.form-horizontal .row .form-group .form-control:focus {
  border: 1px solid #fbab2f;
  -moz-box-shadow: 1px 1px 3px #fdd493;
  -webkit-box-shadow: 1px 1px 3px #fdd493;
  box-shadow: 1px 1px 3px #fdd493;
}
/* line 294, ../compass/sass/dt.core.scss */
.form .row .form-group.required .control-label::after,
.form-horizontal .row .form-group.required .control-label::after {
  content: "*";
  color: #a94442;
}
/* line 301, ../compass/sass/dt.core.scss */
.form .row .form-group.has-error .control-label,
.form-horizontal .row .form-group.has-error .control-label {
  color: #a94442;
}
/* line 304, ../compass/sass/dt.core.scss */
.form .row .form-group.has-error input[type="text"], .form .row .form-group.has-error input[type="password"], .form .row .form-group.has-error textarea,
.form-horizontal .row .form-group.has-error input[type="text"],
.form-horizontal .row .form-group.has-error input[type="password"],
.form-horizontal .row .form-group.has-error textarea {
  border: 1px solid #a94442;
}
/* line 309, ../compass/sass/dt.core.scss */
.form .row .form-group.has-error .switch .btn,
.form-horizontal .row .form-group.has-error .switch .btn {
  border-top: 1px solid #a94442;
  border-bottom: 1px solid #a94442;
}
/* line 312, ../compass/sass/dt.core.scss */
.form .row .form-group.has-error .switch .btn:first-child,
.form-horizontal .row .form-group.has-error .switch .btn:first-child {
  border-left: 1px solid #a94442;
}
/* line 315, ../compass/sass/dt.core.scss */
.form .row .form-group.has-error .switch .btn:last-child,
.form-horizontal .row .form-group.has-error .switch .btn:last-child {
  border-right: 1px solid #a94442;
}
/* line 324, ../compass/sass/dt.core.scss */
.form .form-buttons,
.form-horizontal .form-buttons {
  text-align: right;
}
/* line 327, ../compass/sass/dt.core.scss */
.form .form-buttons a + a,
.form .form-buttons a + input,
.form .form-buttons input + a,
.form .form-buttons input + input,
.form-horizontal .form-buttons a + a,
.form-horizontal .form-buttons a + input,
.form-horizontal .form-buttons input + a,
.form-horizontal .form-buttons input + input {
  margin-left: 1em;
}

/* PAGE MSGs CONTAINER */
/* line 337, ../compass/sass/dt.core.scss */
.alerts-container .validation-errors-container {
  font-weight: 700;
}

/* GLYPHS */
/* line 343, ../compass/sass/dt.core.scss */
.glyphicon-plus {
  color: #3c763d;
}

/* line 346, ../compass/sass/dt.core.scss */
.glyphicon-pencil {
  color: #8a6d3b;
}

/* line 349, ../compass/sass/dt.core.scss */
.glyphicon-remove {
  color: #a94442;
}

/*********************************************************************
*** COMPONENTS *******************************************************
*********************************************************************/
/* MODAL */
/*.modal.in .modal-dialog {
	transform: translate(0px, 2em);
}*/
/* JQUERY CALENDAR */
/* line 363, ../compass/sass/dt.core.scss */
.is-datepicker {
  cursor: pointer;
}

/* line 366, ../compass/sass/dt.core.scss */
#ui-datepicker-div {
  background: #f4f4f4 none;
}
/* line 370, ../compass/sass/dt.core.scss */
#ui-datepicker-div .ui-datepicker-header {
  background: #eeeeee none;
  border: 1px solid #e4e4e4;
}
/* line 373, ../compass/sass/dt.core.scss */
#ui-datepicker-div .ui-datepicker-header select.ui-datepicker-month, #ui-datepicker-div .ui-datepicker-header select.ui-datepicker-year {
  font-weight: 500;
}
/* line 381, ../compass/sass/dt.core.scss */
#ui-datepicker-div .ui-datepicker-calendar th {
  font-weight: 400;
}
/* line 385, ../compass/sass/dt.core.scss */
#ui-datepicker-div .ui-datepicker-calendar .ui-state-default, #ui-datepicker-div .ui-datepicker-calendar .ui-widget-content
#ui-datepicker-div .ui-datepicker-calendar .ui-state-default, #ui-datepicker-div .ui-datepicker-calendar .ui-widget-header
#ui-datepicker-div .ui-datepicker-calendar .ui-state-default {
  border: 1px solid #d8d8d8;
  color: #5c5c5c;
  font-weight: 500;
}
/* line 394, ../compass/sass/dt.core.scss */
#ui-datepicker-div .ui-datepicker-calendar .ui-state-hover, #ui-datepicker-div .ui-datepicker-calendar .ui-widget-hover
#ui-datepicker-div .ui-datepicker-calendar .ui-state-hover, #ui-datepicker-div .ui-datepicker-calendar .ui-widget-hover
#ui-datepicker-div .ui-datepicker-calendar .ui-state-hover {
  background: #fba116 none;
  border: 1px solid #da8604;
  color: #000000;
}
/* line 407, ../compass/sass/dt.core.scss */
#ui-datepicker-div .ui-datepicker-buttonpane .ui-datepicker-current, #ui-datepicker-div .ui-datepicker-buttonpane .ui-datepicker-close {
  border: 1px solid #d2d2d2;
  background: #e4e4e4 none;
  color: #5c5c5c;
  font-weight: 400;
  opacity: 1;
}

/* MOVE OPTIONS FROM SELECT TO SELECT */
/* line 419, ../compass/sass/dt.core.scss */
.ddl-available-assigned-container .ddl-available-container,
.ddl-available-assigned-container .ddl-assigned-container {
  display: table-cell;
  width: 34%;
}

/* line 424, ../compass/sass/dt.core.scss */
.ddl-available-assigned-container .ddl-available-assigned-controls {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 428, ../compass/sass/dt.core.scss */
.ddl-available-assigned-container .ddl-available-assigned-controls.move-h {
  width: 10%;
}
/* line 431, ../compass/sass/dt.core.scss */
.ddl-available-assigned-container .ddl-available-assigned-controls.move-v {
  width: 1%;
}
/* line 434, ../compass/sass/dt.core.scss */
.ddl-available-assigned-container .ddl-available-assigned-controls .btn {
  width: 100%;
}

/* PAGINATION */
/* line 440, ../compass/sass/dt.core.scss */
.pagination-container {
  display: table;
  padding: 0.5em 0em;
}
/* line 443, ../compass/sass/dt.core.scss */
.pagination-container .pagination {
  display: table-cell;
}
/* line 446, ../compass/sass/dt.core.scss */
.pagination-container .items-per-page {
  display: table-cell;
}
/* line 448, ../compass/sass/dt.core.scss */
.pagination-container .items-per-page button {
  background-color: #ffffff;
}
/* line 452, ../compass/sass/dt.core.scss */
.pagination-container .pagination + .items-per-page {
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}

/*********************************************************************
*** MAIN LAYOUT ******************************************************
*********************************************************************/
/* line 462, ../compass/sass/dt.core.scss */
body {
  margin: 0px;
  padding: 0px;
  background: #f1f1f1 none;
  font: 14px Arial, Helvetica, sans-serif;
}

/*** HEADER *********************************************************/
/* line 470, ../compass/sass/dt.core.scss */
.navbar {
  height: 3em;
  background-color: #c62926;
}
/* line 475, ../compass/sass/dt.core.scss */
.navbar .navbar-header {
  padding: 6px 0px;
  margin-left: 1em;
}
/* line 478, ../compass/sass/dt.core.scss */
.navbar .navbar-header .navbar-brand {
  width: 36px;
  height: 36px;
  background: transparent url("../img/logo_dt_white.png") no-repeat;
}
@media only screen and (min-width: 768px) {
  /* line 488, ../compass/sass/dt.core.scss */
  .navbar .navbar-nav > li:first-child {
    margin-left: 0.6em;
  }
}
/* line 494, ../compass/sass/dt.core.scss */
.navbar .navbar-nav li a {
  color: #ffffff;
}
/* line 496, ../compass/sass/dt.core.scss */
.navbar .navbar-nav li a:focus, .navbar .navbar-nav li a:hover {
  background: inherit;
  text-decoration: underline;
}
/* line 505, ../compass/sass/dt.core.scss */
.navbar .navbar-nav li.dropdown a.dropdown-toggle, .navbar .navbar-nav li.dropdown a.dropdown-toggle:focus, .navbar .navbar-nav li.dropdown a.dropdown-toggle:hover, .navbar .navbar-nav li.dropdown.open a.dropdown-toggle {
  text-decoration: none;
  color: #ffffff;
  background-color: #c62926;
}
/* line 514, ../compass/sass/dt.core.scss */
.navbar .navbar-nav li.dropdown .dropdown-menu li a {
  color: #c62926;
}
@media only screen and (max-width: 768px) {
  /* line 514, ../compass/sass/dt.core.scss */
  .navbar .navbar-nav li.dropdown .dropdown-menu li a {
    color: #ffffff;
  }
}
/* line 524, ../compass/sass/dt.core.scss */
.navbar .navbar-collapse {
  background-color: #c62926;
}
/* line 529, ../compass/sass/dt.core.scss */
.navbar .navbar-toggle {
  margin: 2px 15px;
  border: 1px solid #ffffff;
}
/* line 534, ../compass/sass/dt.core.scss */
.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/*** CONTENT ********************************************************/
/* line 541, ../compass/sass/dt.core.scss */
#main-section .main-container {
  min-height: 400px;
  margin: 3em 1em;
  padding: 3em 2em 8em;
  border: 1px solid #d1d1d1;
  background: #ffffff none;
}
@media only screen and (max-width: 768px) {
  /* line 541, ../compass/sass/dt.core.scss */
  #main-section .main-container {
    margin: 3em 0em;
  }
}

/* ALERTS */
/* line 553, ../compass/sass/dt.core.scss */
.alerts-container .alert:last-child {
  margin-bottom: 3em;
}

/*** FOOTER *********************************************************/
/* line 558, ../compass/sass/dt.core.scss */
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 2em;
  background: #373a3d none;
  font-size: 0.85em;
  color: #ffffff;
  text-align: center;
}
/* line 569, ../compass/sass/dt.core.scss */
.footer a, .footer a:focus, .footer a:hover {
  color: #ffffff;
}
/* line 575, ../compass/sass/dt.core.scss */
.footer .footer-copyright {
  margin-top: 1em;
}
/* line 577, ../compass/sass/dt.core.scss */
.footer .footer-copyright a {
  text-decoration: underline;
}
